# 将 RewriteEngine 模式打开
RewriteEngine On

# 修改以下语句中的 / 改为您的系统目录地址，如果程序放在根目录中则无需修改
RewriteBase /

# Rewrite 系统规则请勿修改
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^index.html$ index.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^about-([0-9]+)\.html$ about.php?cid=$1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^joinus\.html$ joinus.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^linkus\.html$ linkus.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^industryapplication\.html$ industryapplication.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^news-([0-9]+)-([0-9]+)\.html$ news.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^newsdetail-([0-9]+)-([0-9]+)\.html$ newsdetail.php?cid=$1&id=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^product-([0-9]+)-([0-9]+)\.html$ product.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^productdetail-([0-9]+)-([0-9]+)-([0-9]+)\.html$ productdetail.php?cid=$1&id=$2&page=$3
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^video-([0-9]+)-([0-9]+)\.html$ video.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^videodetail-([0-9]+)-([0-9]+)\.html$ videodetail.php?cid=$1&id=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/index.html$ en/index.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/about-([0-9]+)\.html$ en/about.php?cid=$1
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/joinus\.html$ en/joinus.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/linkus\.html$ en/linkus.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/industryapplication\.html$ en/industryapplication.php
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/news-([0-9]+)-([0-9]+)\.html$ en/news.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/newsdetail-([0-9]+)-([0-9]+)\.html$ en/newsdetail.php?cid=$1&id=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/product-([0-9]+)-([0-9]+)\.html$ en/product.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/productdetail-([0-9]+)-([0-9]+)-([0-9]+)\.html$ en/productdetail.php?cid=$1&id=$2&page=$3
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/video-([0-9]+)-([0-9]+)\.html$ en/video.php?cid=$1&page=$2
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^en/videodetail-([0-9]+)-([0-9]+)\.html$ en/videodetail.php?cid=$1&id=$2

# 老网站收录链接做跳转

RewriteRule ^product/pinfo-(.*).html$ location.php?go=product-1-1.html

RewriteRule ^product/pinfopage-(.*)-(.*).html$ location.php?go=product-1-1.html

RewriteRule ^app/appinfo-(.*).html$ location.php?go=industryapplication.html

RewriteRule ^app/app.html$ location.php?go=industryapplication.html

RewriteRule ^app/appinfopage-(.*)-(.*).html$ location.php?go=industryapplication.html

RewriteRule ^case/caseinfo-(.*).html$ location.php?go=industryapplication.html

RewriteRule ^case/caseinfopage-(.*)-(.*).html$ location.php?go=industryapplication.html

RewriteRule ^about/about-(.*).html$ location.php?go=about-20.html

RewriteRule ^news/news-(.*).html$ location.php?go=news-18-1.html

RewriteRule ^news/newspage-(.*).html$ location.php?go=news-18-1.html

RewriteRule ^en/product/pinfo-(.*).html$ location.php?go=en/product-31-1.html

RewriteRule ^en/app/appinfo-(.*).html$ location.php?go=en/industryapplication.html

RewriteRule ^en/case/caseinfo-(.*).html$ location.php?go=en/industryapplication.html

RewriteRule ^en/case/caseinfopage-(.*)-(.*).html$ location.php?go=en/industryapplication.html

RewriteRule ^en/about/about-(.*).html$ location.php?go=en/about-50.html

RewriteRule ^en/news/news-(.*).html$ location.php?go=en/news-48-1.html

RewriteRule ^en/news/newspage-(.*).html$ location.php?go=en/news-48-1.html