<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9"> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>首页</title>
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">
                <a href="" title="费兰智能设备（上海）有限公司"><img src="../images/logo.jpg" alt="费兰智能设备（上海）有限公司"/></a>
            </div>
            <ul class="nav">
                <li><a href="">首页</a></li>
                <li><a href="">产品中心</a></li>
                <li><a href="">产品视频</a></li>
                <li><a href="">行业应用</a></li>
                <li><a href="">新闻中心</a></li>
                <li><a href="">关于企业</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
    </header>
    <div class="banner">
        <div class="banner_content">
            <img src="../images/banner_00.jpg"/>
        </div>
    </div>
    <div class="banner_bottom">
        <div class="banner_hover">
            <div class="banner_bottom_bg"></div>
            <div class="banner_bottom_content">
                <form action="" method="GET" class="banner_hover_left">
                    <input class="search_text" type="text" name="title"/>
                    <input class="search_submit" type="submit" value="提交" />
                </form>
                <div class="banner_hover_right">
                    <p>服务热线</p>
                    <p class="number_num">158-0090-2006</p>
                    <p>我们为您提供专业的搬运解决方案</p>
                    <p><img src="../images/weixin_icon.gif"/></p>
                    <p>搜索费兰关注我们</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <ul class="product_list">
            <li>
                <a href="">
                    <img src="../images/index_pro_01.gif" alt="" title=""/>
                </a>
                <p class="pro_title">硬臂式机械手</p>
                <p class="click_more_description">由于系统基本是刚性臂杆结构组成，它与气动平衡吊和软索式助力机械手一样都具
                    有全行程“漂浮”功能，区别是在有扭矩产生的情况下无法使用气动平衡吊或是软索式助力......</p>
                <p class="click_more_icon"><a href="">了解更多</a></p>
            </li>
            <li>
                <a href="">
                    <img src="../images/index_pro_01.gif" alt="" title=""/>
                </a>
                <p class="pro_title">硬臂式机械手</p>
                <p class="click_more_description">由于系统基本是刚性臂杆结构组成，它与气动平衡吊和软索式助力机械手一样都具
                    有全行程“漂浮”功能，区别是在有扭矩产生的情况下无法使用气动平衡吊或是软索式助力......</p>
                <p class="click_more_icon"><a href="">了解更多</a></p>
            </li>
            <li>
                <a href="">
                    <img src="../images/index_pro_01.gif" alt="" title=""/>
                </a>
                <p class="pro_title">硬臂式机械手</p>
                <p class="click_more_description">由于系统基本是刚性臂杆结构组成，它与气动平衡吊和软索式助力机械手一样都具
                    有全行程“漂浮”功能，区别是在有扭矩产生的情况下无法使用气动平衡吊或是软索式助力......</p>
                <p class="click_more_icon"><a href="">了解更多</a></p>
            </li>
            <li>
                <a href="">
                    <img src="../images/index_pro_01.gif" alt="" title=""/>
                </a>
                <p class="pro_title">硬臂式机械手</p>
                <p class="click_more_description">由于系统基本是刚性臂杆结构组成，它与气动平衡吊和软索式助力机械手一样都具
                    有全行程“漂浮”功能，区别是在有扭矩产生的情况下无法使用气动平衡吊或是软索式助力......</p>
                <p class="click_more_icon"><a href="">了解更多</a></p>
            </li>
            <li class="last_product_list">
                <a href="">
                    <img src="../images/index_pro_01.gif" alt="" title=""/>
                </a>
                <p class="pro_title">硬臂式机械手</p>
                <p class="click_more_description">由于系统基本是刚性臂杆结构组成，它与气动平衡吊和软索式助力机械手一样都具
                    有全行程“漂浮”功能，区别是在有扭矩产生的情况下无法使用气动平衡吊或是软索式助力......</p>
                <p class="click_more_icon"><a href="">了解更多</a></p>
            </li>
        </ul>
        <div class="news_about_mv">
            <div class="news_list_index">
                <p class="news_list_title">新闻中心 News</p>
                <p class="news_list_decription">软索式机械手的功能与气动平衡吊类似，具有全程的“漂浮”功能。由于主机和夹具间通过一钢丝绳连接......</p>
                <ul>
                    <li><a href="">5月10日，机械新品发布</a></li>
                    <li><a href="">5月10日，机械新品发布</a></li>
                    <li><a href="">5月10日，机械新品发布</a></li>
                    <li><a href="">5月10日，机械新品发布</a></li>
                    <li><a href="">5月10日，机械新品发布</a></li>
                </ul>
                <p class="news_list_more_icon"><a href="">查看更多>></a></p>
            </div>
            <div class="aboutus_index">
                <p class="news_list_title">公司简介 Company</p>
                <p><img src="../images/index_about.gif"/></p>
                <p class="about_description">费兰智能设备(上海）有限公司于2010年在上海成立，是一家集生产、技术、服务于一体的独资企业。主要生产 archer品牌的助力机械设备，目前在中国......</p>
            </div>
            <div class="mv_index">
                <img src="../images/index_mv.gif" alt="" title=""/>
            </div>
        </div>
    </div>
    <div class="company_cooperation">
        <div class="company_cooperation_center">
        </div>
    </div>
    <div class="footer_banner">
        <div class="pre_click">
            <a href="javascript:void(0);"><img src="../images/turn_left.png"/></a>       
        </div>
        <ul>
            <li><img src="../images/logo_other_02.gif"/><p>通用汽车</p></li>
            <li><img src="../images/logo_other_03.gif"/><p>通用汽车</p></li>
            <li><img src="../images/logo_other_04.gif"/><p>通用汽车</p></li>
            <li><img src="../images/logo_other_05.gif"/><p>通用汽车</p></li>
            <li><img src="../images/logo_other_06.gif"/><p>通用汽车</p></li>
            <li><img src="../images/logo_other_01.gif"/><p>通用汽车</p></li>
        </ul>
        <div class="after_click">
            <a href="javascript:void(0);"><img src="../images/turn_right.gif"/></a> 
        </div>
    </div>
    <footer>
        <div class="footer_center">
            <p style="padding-top: 40px">
                <a href="">首页</a>|
                <a href="">产品中心</a>|
                <a href="">产品视频</a>|
                <a href="">行业应用</a>|
                <a href="">新闻中心</a>|
                <a href="">关于企业</a>|
                <a href="">加入我们</a>|
                <a href="">联系我们</a>
            </p>
            <p style="padding-top: 20px">手机：:13052506373 （吴经理） 电话：021-50311307 电子邮箱：feylandsh@sina.com　传真：68362900</p>
            <p>地址：上海市南汇工业园区南芦公路106号</p>
            <p>费兰智能设备（上海）有限公司 Copyright 1998-2014   网站制作 嗅觉设计</p>
        </div>
    </footer>
</body>
</html>