<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9"> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<title>产品中心列表页</title>
<link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
<script type="text/javascript" src="../js/jquery.js"></script>
</head>
<body>
    <header>
        <div class="top">
            <div class="logo">
                <a href="" title="费兰智能设备（上海）有限公司"><img src="../images/logo.jpg" alt="费兰智能设备（上海）有限公司"/></a>
            </div>
            <ul class="nav">
                <li><a href="">首页</a></li>
                <li><a href="">产品中心</a></li>
                <li><a href="">产品视频</a></li>
                <li><a href="">行业应用</a></li>
                <li><a href="">新闻中心</a></li>
                <li><a href="">关于企业</a></li>
                <li><a href="">加入我们</a></li>
                <li><a href="">联系我们</a></li>
            </ul>
        </div>
    </header>
    <div class="banner">
        <div class="banner_content">
            <img src="../images/banner_00.jpg"/>
        </div>
    </div>
    <div class="banner_bottom">
        <div class="banner_hover">
            <div class="banner_bottom_bg"></div>
            <div class="banner_bottom_content">
                <form action="" method="GET" class="banner_hover_left">
                    <input class="search_text" type="text" name="title"/>
                    <input class="search_submit" type="submit" value="提交" />
                </form>
                <div class="banner_hover_right">
                    <p>服务热线</p>
                    <p class="number_num">158-0090-2006</p>
                    <p>我们为您提供专业的搬运解决方案</p>
                    <p><img src="../images/weixin_icon.gif"/></p>
                    <p>搜索费兰关注我们</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="nav_left">
            <div class="nav_left_title">
                <p>产品中心</p>
                <p>PRODUCT CENTER</p>
            </div>
            <ul>
                <li><a href="">硬臂式机械手</a></li>
                <li><a href="">硬臂式机械手</a></li>
                <li><a href="">硬臂式机械手</a></li>
                <li><a href="">硬臂式机械手</a></li>
                <li><a href="">硬臂式机械手</a></li>
            </ul>
        </div>
        <div class="right_main">
            <div class="right_main_position">
                当前位置：
                <a href="">首页</a> > 
                <a href="">产品中心</a> > 
                <a href="">所有产品</a>
            </div>
            <div class="right_main_content">
                <div class="right_main_content_description">
                    公司自成立以来一直致力于解决客户生产中的各种物料的搬运难题，针对复杂、多变的工艺要求提供相对应的、
                    完善的、专业的、安全而轻松的搬运和定位的解决方案。我们还能根据客户的预算提供最有
                    效和最具性价比的解决方案。 ”我们的设备搬运物料的重量从10kg到10T不等，能帮助工人完成省力，安全，高效，精准的搬运作业。
                </div>
                <ul>
                    <li>
                        <a href=""><image src="../images/product_07.jpg" alt="" title=""/></a>
                        <p><a href="">立柱式 机械手</a></p>
                        <p class="contact_online"><a href="javascript:void(0);">在线咨询</a></p>
                    </li>
                    <li>
                        <a href=""><image src="../images/product_07.jpg" alt="" title=""/></a>
                        <p><a href="">立柱式 机械手</a></p>
                        <p class="contact_online"><a href="javascript:void(0);">在线咨询</a></p>
                    </li>
                    <li>
                        <a href=""><image src="../images/product_07.jpg" alt="" title=""/></a>
                        <p><a href="">立柱式 机械手</a></p>
                        <p class="contact_online"><a href="javascript:void(0);">在线咨询</a></p>
                    </li>
                    <li>
                        <a href=""><image src="../images/product_07.jpg" alt="" title=""/></a>
                        <p><a href="">立柱式 机械手</a></p>
                        <p class="contact_online"><a href="javascript:void(0);">在线咨询</a></p>
                    </li>
                    <li>
                        <a href=""><image src="../images/product_07.jpg" alt="" title=""/></a>
                        <p><a href="">立柱式 机械手</a></p>
                        <p class="contact_online"><a href="javascript:void(0);">在线咨询</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer_center">
            <p style="padding-top: 40px">
                <a href="">首页</a>|
                <a href="">产品中心</a>|
                <a href="">产品视频</a>|
                <a href="">行业应用</a>|
                <a href="">新闻中心</a>|
                <a href="">关于企业</a>|
                <a href="">加入我们</a>|
                <a href="">联系我们</a>
            </p>
            <p style="padding-top: 20px">手机：:13052506373 （吴经理） 电话：021-50311307 电子邮箱：feylandsh@sina.com　传真：68362900</p>
            <p>地址：上海市南汇工业园区南芦公路106号</p>
            <p>费兰智能设备（上海）有限公司 Copyright 1998-2014   网站制作 嗅觉设计</p>
        </div>
    </footer>
</body>
</html>